<!--/* recipe.html */-->
<div class="cmp-recipe"
	data-sly-use.recipe="com.foodieland.core.models.Recipe"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
	data-sly-test.hasContent="${!recipe.empty}">
	
	<div class="cmp-recipe__data">
		<h4 class="cmp-recipe__type">${recipe.type}</h4>
		<h2 class="cmp-recipe__title">${recipe.title}</h2>
		<p class="cmp-recipe__description">${recipe.description}</p>
		<h4 class="cmp-recipe__time">${recipe.prepare}</h4>
		<h4 class="cmp-recipe__ingredient">${recipe.ingredient}</h4>
		<h4 class="cmp-recipe__authorName">${recipe.name}</h4>
		<h4 class="cmp-recipe__date">${recipe.date}</h4>
		<button data-sly-use.button="com.adobe.cq.wcm.core.components.models.Button"
	        data-sly-element="${button.buttonLink.valid ? 'a' : 'button'}"
	        data-sly-attribute="${button.buttonLink.htmlAttributes}"
	        aria-label="${button.accessibilityLabel}"
	        data-cmp-clickable="${button.data ? true : false}"
	        data-cmp-data-layer="${button.data.json}">
	    	<span class="cmp-button__text">View Recipe</span>
		</button>
	</div>
	
	<div class="cmp-recipe__image" data-sly-include="image.html"></div>
	
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=false}"></sly>



