<!--/* recipe.html */-->
<div class="cmp-recipe"
	data-sly-use.recipe="com.foodieland.core.models.Recipe"
	data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image">
	
	<div class="cmp-recipe__data">
		<h4 class="cmp-recipe__type" data-sly-test="${recipe.type}">${recipe.type}</h4>
		<h2 class="cmp-recipe__title" data-sly-test="${recipe.title}">${recipe.title}</h2>
		<p class="cmp-recipe__description" data-sly-test="${recipe.description}">${recipe.description}</p>
		<h4 class="cmp-recipe__time" data-sly-test="${recipe.prepare}">${recipe.prepare}</h4>
		<h4 class="cmp-recipe__ingredient" data-sly-test="${recipe.ingredient}">${recipe.ingredient}</h4>
		<h4 class="cmp-recipe__authorName" data-sly-test="${recipe.name}">${recipe.name}</h4>
		<h4 class="cmp-recipe__date" data-sly-test="${recipe.date}">${recipe.date}</h4>
		<button data-sly-use.button="com.adobe.cq.wcm.core.components.models.Button">
	    	<span class="cmp-button__text">View Recipe</span>
		</button>
	</div>
	
	<div class="cmp-recipe__image">
		<a href="${image.link}"> 
			<img class="cmp-recipe__image--img" src="${recipe.imageReference}"/>
		</a>
	</div>
</div>
