//== XF Header style, used on page template

header.experiencefragment {
    padding: 25px;

    .cmp-experiencefragment {
        max-width: $max-page-width;
        margin: 0px;
    }
    
    //== Image
    .cmp-image {
		padding: 15px;
		top: 15px;
	}
	
	//== Navigation
	.cmp-navigation {
	    float: left;
	    padding: 15px;
	    top: 15px;
	    position: inherit;
	}
    
    //== Separator

    .cmp-separator {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .cmp-separator__horizontal-rule {
        border: 1px;
        color: $brand-secondary
    }
}