.cmp-recipe {
	display: flex;
	padding-left: 25px;
	margin-left: 65px;
	width: 90%;
	height: 500px;
	background: #E7FAFE;
	border-radius: 30px;
	align-self: center;
	
	.cmp-recipe__image {
	    width: 610px;
	    
		.cmp-recipe__image--img {
			height: 500px;
			border-bottom-right-radius: 30px;
		    border-top-right-radius: 30px;
		}
	}
	
	.cmp-recipe__data {
		padding-right: 60px;
	}
}