.cmp-simplerecipe {
	margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
	width: 400px;
	height: 434px;
	display: block;
	background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
	border-radius: 30px;
	
	.cmp-simplerecipe__image {
		padding: 15px;
		width: 368px;
		height: 250px;
	}
	
	.cmp-simplerecipe__title {
		padding-right: 20px;
		padding-left: 20px;
	}
	
	.cmp-simplerecipe__timeandcategory {
		display: flex;
		padding-right: 20px;
		padding-left: 20px;
		
		.cmp-simplerecipe__timeandcategory--time {
			margin-right: 20px;
		    padding-top: 10px;
		    padding-right: 10px;
		    padding-bottom: 10px;
		}
		
		.cmp-simplerecipe__timeandcategory--category {
			padding-top: 10px;
		    padding-right: 10px;
		    padding-bottom: 10px;
		    margin-left: 20px;
		}
	}
}