<!--/* simplerecipe.html */-->
<div
	class="cmp-simplerecipe"
	data-sly-use.simplerecipe="com.foodieland.core.models.SimpleRecipe"
	data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html">
	
	<div class="cmp-simplerecipe__image">
		<a href="${image.link}"> 
			<img src="${image.src}" alt=""/>
		</a>
	</div>
	
	<div class="cmp-simplerecipe__title" data-sly-test="${simplerecipe.title}">
		<h4 class="cmp-simplerecipe__title-sr">${simplerecipe.title}</h4>
	</div>
	
	<div class="cmp-simplerecipe__timeandcategory">
		<div class="cmp-simplerecipe__timeandcategory--time" data-sly-test="${simplerecipe.time}">
			<p>${simplerecipe.time}</p>
		</div>
		<div class="cmp-simplerecipe__timeandcategory--category" data-sly-test="${simplerecipe.select}">
			<p>${simplerecipe.select}</p>
		</div>
	</div>
</div>