<div class="cmp-category"
	data-sly-use.category="com.foodieland.core.models.Category"
	data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"
	data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html">
	
	<div class="cmp-category__image">
		<a href="${image.link}"> 
			<img src="${image.src}" alt=""/>
		</a>
	</div>
	
	<div class="cmp-category__name" data-sly-test="${category.name}">
		<h4 class="cmp-category__name-category">${category.name}</h4>
	</div>
</div>